.predition{
    background-color: rgb(205, 248, 248);
}

/* Hide spinners on number inputs */
.no-spinner input[type='number']::-webkit-outer-spin-button,
.no-spinner input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }